body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.title {
    font-size: 35px;
    font-weight: bold;
    color: rgb(3, 3, 68);
    margin-bottom: 10px;
    padding-bottom: 25px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #003ab3;
    padding: 20px;
    border-radius: 10px;
}
.form-container label, .form-container input, .form-container select, .calculate-button {
    margin-bottom: 10px;
    width: 100%;
}
.calculate-button, .back-button, .qualify-button {
    background-color: #003ab3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    max-width: 100px;
}
.calculate-button:hover, .back-button:hover, .qualify-button:hover {
    background-color: rgb(3, 3, 68);
}
.result {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}